body {
  padding-top: 50px;
}

.album-preview img {
  width: 100%;
}

.album-preview {
  padding: 1.5%;
}

.album-preview h2 {
  font-size: 24px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.5em;
}

.album-preview h2 span.glyphicon {
  padding-right: 0.2em;
}
